@use 'theme_colors' as *;

* {
  scrollbar-width: thin !important;
  scrollbar-gutter: stable !important;
  scroll-behavior: smooth !important;
}

*::-webkit-scrollbar-thumb {
  background: rgb(150, 150, 150);
  border-radius: 5px;
}
