// ------ Main bg colors ------
$bg_main: #131316;
$bg_modal: #1c1c21;

// ------ Theme colors ------
$theme_white: #f2f2f2;
$theme_light: #8585ad;
$constructor_element: #2f2f37ff;

// ------ Scroll colors ------
$scroll_dark: #2f2f37;
$scroll_active: #4c4cff;

// ------ Order colors ------
$ready_order: #00cccc;
